/* Manifest ------------ */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Variables ------------- */
/* Mixins -------------- */
/* Typography ------------------- */
@font-face {
  font-family: DinBlack;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.woff2") format("woff2"); }

@font-face {
  font-family: DinBold;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldItalic.woff") format("woff"), url("../fonts/DINNextLTPro-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavyItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-HeavyItalic.woff") format("woff"), url("../fonts/DINNextLTPro-HeavyItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavy;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Heavy.woff") format("woff"), url("../fonts/DINNextLTPro-Heavy.woff2") format("woff2"); }

@font-face {
  font-family: DinItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Italic.woff") format("woff"), url("../fonts/DINNextLTPro-Italic.woff2") format("woff2"); }

@font-face {
  font-family: DinLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-LightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinLightItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightItalic.woff") format("woff"), url("../fonts/DINNextLTPro-LightItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinMedium;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("../fonts/DINNextLTPro-MediumCond.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumItalic.woff") format("woff"), url("../fonts/DINNextLTPro-MediumItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinRegular;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLight.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLight.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightIt;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightIt.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightIt.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedBold;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Bold.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedLight;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Light.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedMedium;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Medium.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedRegular;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Regular.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: GeoLight;
  font-style: normal;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2"); }

body {
  font-family: 'Oswald', 'Arsenal', 'Alfa+Slab+One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #468063; }

h1, h2, h3, h4 {
  font-family: oswald; }

p {
  font-family: arsenal; }

.slide-title {
  display: none; }

.slick-slider-short-content h1, .slick-slider-short-content p {
  color: #fff; }

#page, #custom-page, #recent-work-page {
  margin-top: 4em;
  margin-bottom: 4em; }
  @media (max-width: 414px) {
    #page, #custom-page, #recent-work-page {
      margin-top: 0em; } }
  #page h1, #custom-page h1, #recent-work-page h1 {
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: AlfaSlabOne;
    color: #fff; }

.btn-lg {
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px; }

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff; }

#igButton {
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  background-color: transparent;
  color: #fff;
  padding-bottom: 2px;
  font-size: 17px;
  display: block;
  margin: auto; }

#igButton:hover {
  font-weight: bold; }

.custom-page-content button:focus {
  outline: 0; }

.wpforms-container-full
.wpforms-form
.wpforms-field-label,
.wpforms-container-full
.wpforms-form
.wpforms-field-sublabel {
  color: #fff;
  letter-spacing: 2px; }

.wpforms-container-full
.wpforms-form
button[type=submit] {
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px; }

.wpforms-submit-container #wpforms-submit-123 {
  display: block;
  margin: auto;
  background-color: transparent;
  font-size: 20px;
  padding: 8px 30px;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 3px; }

@media (max-width: 1024px) {
  .navbar-lg {
    display: none; } }

@media (min-width: 1025px) {
  #navbar-sm {
    display: none; } }

/* Wrappers -------------------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 220px; }

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#sidebar-wrapper::-webkit-scrollbar {
  display: none; }

#wrapper.toggled #sidebar-wrapper {
  width: 220px; }

#page-content-wrapper {
  width: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px; }

/* Sidebar nav styles -------------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%; }
  @media (max-width: 1024px) {
    .sidebar-nav li {
      padding-bottom: 30px;
      padding-top: 10px; } }

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a; }

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px; }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px; }

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  background-color: #222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

/* Hamburger-Cross -------------------------------------*/
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none; }

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none; }

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff; }

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open .hamb-middle {
  display: none; }

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

/* Overlay -------------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1; }

/* Site Name -----------------------------------*/
.site-name {
  padding-left: 3em;
  display: table; }
  .site-name h1 {
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 4px;
    float: left;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    text-shadow: 1px 1px 5px #000; }
  .site-name p {
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 4px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000; }

.site-name-sm h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff; }
  @media (max-width: 768px) {
    .site-name-sm h1 {
      padding-top: 40px; } }

.site-name-sm p {
  padding-bottom: 14px;
  margin-bottom: -1px;
  color: #fff;
  text-align: center;
  word-spacing: 4px;
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: bold; }

@media (min-width: 1200px) {
  .site-name-sm {
    display: none; } }

/* General Style of Navigation -------------------*/
ul.sub-menu {
  position: absolute;
  background-color: rgba(70, 128, 99, 0.64);
  list-style: none;
  margin: 0;
  width: 150px;
  display: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

#main-menu li:hover ul.sub-menu {
  display: block; }

ul.sub-menu a {
  color: #fff; }

ul.sub-menu a:hover {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: block;
  color: #fff; }

#masthead #main-menu .tablet-desktop-menu #menu-mainmenu > li > a {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: block; }

.custom-nav {
  display: -ms-grid;
  display: grid; }

.nav-info {
  height: 30px; }
  .nav-info p a {
    padding-top: 10px;
    padding-right: 38px;
    float: right;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.navbar-inverse
.navbar-nav > li > a {
  color: #424C50;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold; }

.nav li a {
  font-size: 17px;
  letter-spacing: 3px; }

.navbar-default {
  background-color: unset;
  border-bottom: unset; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.sub-menu a:hover {
  color: #000; }

.sub-menu li, .sub-menu a {
  font-size: 25px;
  font-weight: bold; }

#menu-menu-1 {
  float: right; }

#menu-menu-1 a:hover {
  font-weight: bold;
  color: #fafafa; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px; }
  @media (max-width: 1024px) {
    .navbar-inverse
.navbar-nav > li > a {
      font-size: 20px; } }

.current-menu-parent li a {
  background: inherit; }

.current-menu-parent
.current-menu-item a {
  color: #fff;
  font-weight: bold; }

@media (min-width: 768px) {
  .navbar-nav {
    margin: 11.5px 20px; }
  li:hover .sub-menu {
    display: block; }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px; } }

@media (min-width: 668px) {
  .header-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 700px; } }

@media (max-width: 668px) {
  .header-parallax {
    margin-top: -12.9em;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    height: 735px; } }

.hero-content {
  float: right;
  padding-top: 21em; }
  @media (max-width: 414px) {
    .hero-content {
      padding-top: 28em; } }
  @media (max-width: 375px) {
    .hero-content {
      padding-top: 24em; } }
  .hero-content h1 {
    font-size: 100px;
    color: #fff;
    letter-spacing: 14px;
    opacity: .8;
    font-family: AlfaSlabOne;
    text-shadow: 1px 1px 5px #000; }
    @media (max-width: 414px) {
      .hero-content h1 {
        font-size: 64px;
        letter-spacing: 5px; } }

.footer {
  background-color: #151b17; }

.social-links {
  padding-top: 20px;
  padding-left: 20px; }
  @media (max-width: 414px) {
    .social-links {
      padding-left: 0px; } }
  .social-links p a {
    padding-left: 22px;
    color: #fff;
    font-size: 17px; }
    @media (max-width: 414px) {
      .social-links p a {
        padding-left: 6.8em; } }
    @media (max-width: 375px) {
      .social-links p a {
        padding-left: 6em; } }

@media (max-width: 414px) {
  .norm_row {
    width: 300px !important;
    text-align: center !important; } }

@media (max-width: 375px) {
  .norm_row {
    width: 270px !important;
    text-align: center !important; } }

#menu-menu-3 {
  padding-left: 8px;
  padding-top: 45px; }
  @media (max-width: 414px) {
    #menu-menu-3 {
      padding-top: 0em; } }

.bottomMenu {
  margin-top: 46px;
  display: block;
  width: 100%;
  z-index: 9999; }
  @media (min-width: 414px) {
    .bottomMenu .bottomMenu {
      padding-left: 18px; } }
  .bottomMenu ul {
    display: inline;
    float: left; }
    .bottomMenu ul li {
      list-style-type: none;
      display: inline;
      font-size: 12px; }
      .bottomMenu ul li:last-child > a {
        border-right: none; }
      .bottomMenu ul li a {
        color: #fff;
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 15px;
        text-decoration: none;
        font-weight: bold;
        border-right: thin solid #fff;
        padding: 0 3px 0 3px; }
        @media (max-width: 375px) {
          .bottomMenu ul li a {
            letter-spacing: 0px; } }
        @media (min-width: 376px) {
          .bottomMenu ul li a {
            letter-spacing: 1px; } }
        @media (min-width: 768px) {
          .bottomMenu ul li a {
            font-size: 15px;
            padding: 0 7px 0 3px; } }
        .bottomMenu ul li a:hover {
          color: #fff;
          text-decoration: underline; }

@media (max-width: 414px) {
  .copyright {
    margin-top: 20px; } }

.copyright p {
  padding-top: 3.4em;
  padding-right: 2em;
  padding-bottom: 3em;
  color: #fff;
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  float: right; }

@media (max-width: 414px) {
  .copyright p {
    padding-left: 24px;
    text-align: center;
    float: none; } }

.page-content p {
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 2px; }

.page-content img {
  padding-top: 14px;
  max-width: -webkit-fill-available;
  max-height: 800px; }
  @media (max-width: 414px) {
    .page-content img {
      max-height: 600px; } }

@media (max-width: 414px) {
  .list .col-md-6 {
    padding-left: 0px;
    padding-right: 0px; } }

.list-content {
  padding: 30px; }
  .list-content h3, .list-content p {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-weight: bold;
    letter-spacing: 3px; }

.experience {
  height: 400px; }
  @media (max-width: 414px) {
    .experience {
      height: 150px; } }
  .experience h1 {
    padding-top: 4em;
    text-align: center;
    font-weight: bold;
    font-family: AlfaSlabOne;
    color: #fff; }
    @media (max-width: 414px) {
      .experience h1 {
        padding-top: 1em; } }

.wwd-title h1,
.contact-us-title h1,
.services-title h1 {
  font-family: AlfaSlabOne;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff; }
  @media (max-width: 414px) {
    .wwd-title h1,
    .contact-us-title h1,
    .services-title h1 {
      letter-spacing: 0px; } }

.wwd-title hr,
.contact-us-title hr,
.services-title hr {
  margin-left: 4em;
  margin-right: 4em; }
  @media (max-width: 414px) {
    .wwd-title hr,
    .contact-us-title hr,
    .services-title hr {
      margin-left: 1em;
      margin-right: 1em; } }

.banner {
  height: 350px;
  max-width: 100%; }
  @media (max-width: 414px) {
    .banner {
      height: 450px; } }

.wwd-section {
  margin-left: 5em;
  margin-right: 5em; }
  @media (max-width: 414px) {
    .wwd-section {
      margin-left: 0em;
      margin-right: 0em; } }
  .wwd-section .col-md-6 {
    padding: 0px; }

.wwd-content h3 {
  margin-top: 0px;
  padding-top: 4em;
  font-family: AlfaSlabOne;
  letter-spacing: 3px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #000;
  color: #fff;
  font-weight: bold; }

.wwd-content p {
  padding: 0 10px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000;
  color: #fff; }

.contact-heading h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 3px; }

.contact-form {
  padding: 0 20px; }

.fp-col-right h2 {
  text-align: center;
  color: #fff;
  letter-spacing: 3px; }

.fp-col-right p {
  color: #fff;
  letter-spacing: 1px; }

.fp-col-right img {
  max-width: -webkit-fill-available; }

.slick-image-slide-wrap img {
  max-height: 400px; }

.ig-custom-page li {
  list-style: none; }

.ig-custom-page img {
  max-width: 100%;
  height: 200px !important; }

.image-gallery {
  display: none; }
  .image-gallery ul {
    margin-top: 10px;
    padding-left: 0px; }

#custom-page hr:last-child {
  display: none; }

.content-title h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: AlfaSlabOne;
  color: #fff; }

.custom-page-content {
  padding: 0 20px 20px; }
  .custom-page-content img {
    width: 100%;
    height: 300px; }
  .custom-page-content p {
    font-size: 17px;
    letter-spacing: 2px;
    color: #fff; }

@media (max-width: 414px) {
  #recent-work-page {
    padding-left: 30px;
    padding-right: 30px; } }

/*# sourceMappingURL=app.css.map */
